@import '~@angular/material/core/theming/all-theme';
@include md-core();
/*$primary:  md-palette($md-grey, 500);*/
$primary:  md-palette($md-red, 900);
$accent: md-palette($md-red, 900); 
$warn:    md-palette($md-red, 900);
$theme: md-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);