<div class="row">
    <div class="col col-md-2">
        <bob-volume-component [isMaster]=true></bob-volume-component>
        <br>
        <div>
            <div class="card text-center transparend-card">
                <div class="card-block" *ngIf="working==false">
                    <!--<i class="material-icons md-72 grey-color">autorenew</i>-->
                    <object data="./img/bob_stern_small.svg" type="image/svg+xml" width="72px" height="72px"></object>
                </div>
                <div class="card-block" *ngIf="working==true">
                    <i class="material-icons md-72 red-color fa-spin">autorenew</i>
                </div>
                <div class="card-block" *ngIf="ready==false">
                    <md-slider vertical disabled=true></md-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8">
        <br>
        <div *ngIf="isOnline()==true">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card complete-transparend">
                        <div class="card-header text-center">
                            Player
                        </div>
                        <div *ngIf="currentplay_single" class="card transparend-card card-outline-danger">
                            <div class="card-block">
                                <h4 class="card-title"> {{currentplay_single.title}}</h4>
                                <p class="card-text">{{currentplay_single?.artist}} </p>
                                <p class="card-text">
                                    <md-progress-bar mode="buffer" value="{{progress}}" bufferValue="100"></md-progress-bar>
                                </p>
                                <div class="text-center complete-transparend red-color">
                                    <button md-icon-button (click)="prev()">
                                        <md-icon>fast_rewind</md-icon>
                                    </button>
                                    <button *ngIf="isPlaying()==false" (click)="play()" md-icon-button>
                                        <md-icon>play_arrow</md-icon>
                                    </button>
                                    <button *ngIf="isPlaying()==true" (click)="pause()" md-icon-button>
                                        <md-icon class="material-icons">pause</md-icon>
                                    </button>
                                    <button md-icon-button (click)="next()">
                                        <md-icon class="material-icons">fast_forward</md-icon>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <playlist-last *ngFor="let comment of lastPlayed" [comment]="comment"></playlist-last>
                        <playlist-current *ngFor="let comment of currentplay" [comment]="comment"></playlist-current>
                        <playlist-box *ngFor="let comment of nextToPlay" [comment]="comment"></playlist-box>
                    </div>




                    <div *ngIf="currentplay_single==null" class="card transparend-card">
                        <div class="card-header transparend-card">Not playing</div>
                        <div class="card-block">
                            <h4 class="card-title"> </h4>
                            <p class="card-text">Not playing</p>
                            <p class="card-text">
                                <md-progress-bar mode="buffer" value="{{progress}}" bufferValue="100"></md-progress-bar>
                            </p>
                        </div>
                    </div>


                </div>
            </div>


            <div *ngIf="isOnline()==false">
                <h1>Server offline oder IP ist banane!</h1>
            </div>



        </div>
    </div>
    <div class="col col-md-2">
        <bob-volume-slave-component [isMaster]=false></bob-volume-slave-component>
        <br>
        <div>
            <div class="card text-center transparend-card">
                <div class="card-block" *ngIf="working==false">
                    <!--<i class="material-icons md-72 grey-color">autorenew</i>-->
                    <object data="./img/bob_stern_small.svg" type="image/svg+xml" width="72px" height="72px"></object>
                </div>
                <div class="card-block" *ngIf="working==true">
                    <i class="material-icons md-72 red-color fa-spin">autorenew</i>
                </div>
                <div class="card-block" *ngIf="ready==false">
                    <md-slider vertical disabled=true></md-slider>
                </div>
            </div>
        </div>
    </div>