<div class="container-fluid">
        <h2 style="text-align: center;">
                <h1>BoB Music Magic</h1>
            </h2>
    <div class="row">
        <div class="col-sm-2">
            <p>spaceleft</p>
        </div>
                
        <div class="col-md-8">

            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Player">                   
                   <app-player></app-player>
                </mat-tab>
                <mat-tab label="Volume master">

                </mat-tab>
                <mat-tab label="Einstellungen">
                    <p>settings</p>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-sm-2">
                <p>spaceright </p>
            </div>
    </div>
</div>


