<div class="card text-center transparend-card">
    <div class="card-header">
      BW 2
    </div>
    <div class="card-block">
      <mat-slider *ngIf="ready" [(ngModel)]="sliderVal" (change)="onSliderChange($event.value)" (input)="onChanging($event)" vertical
        min="0" max="100" step="1"></mat-slider>
      <mat-slider *ngIf="ready==false" vertical disabled=true></mat-slider>
    </div>
    <div class="card-footer" *ngIf="ready==true">
      <p>Vol: {{sliderVal}}</p>
  </div>
  <div class="card-footer" *ngIf="ready==false">
    <small class="text-muted">Offline</small>
  </div>
  </div>